<!doctype html>
<html lang="en">

  <body>
    <% if !flash[:success].nil? %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
    <% end %>
    
      <div class="container">
              <%= link_to "clique ici pour les gossips", new_gossip_path %>

            <h1 class="display-4 text-center my-3">The Gossip Project</h1>
            <div class="row">

              <% @gossips.each do |gossip| %>
                <div class="col-4 mb-3">
                    <div class="card">
                      <img class="card-img-top" alt="Card image cap" src="https://statics.lesinrocks.com/content/thumbs/uploads/2017/05/width-1125-height-612/twin-peaks-15.jpg">
                    <div class="card-body">
                      <h5 class="card-title"><a href="<%= gossip_path(gossip.id) %>"><%=gossip.title %></a></h5>  

                      <p class="card-text">
                        <small class="text-muted">
                          posté par <%= gossip.user.first_name %>
                            le <%=gossip.created_at.strftime("%d/%m/%Y %H:%I") %>
                        </small>
                      </p>
                       <a type="button" class="btn btn-primary btn-block" href="<%=gossip_path(gossip.id) %>">Voir le potin</a>
                      </div>
                    </div>
                    </div>
                    <% end %>
                </div>    
            </div>            

  </body>

</html> 
