<!doctype html>
<html lang="en">

  <body>    
      <div class="container">
              <%= link_to "clique ici pour les gossips", new_gossip_path %>

            <h1 class="display-4 text-center my-3">The Gossip Project</h1>
            <div class="row">

              <% @cities.each do |city| %>
                <div class="col-4 mb-3">
                    <div class="card">
                      <img class="card-img-top" alt="Card image cap" src="https://statics.lesinrocks.com/content/thumbs/uploads/2017/05/width-1125-height-612/twin-peaks-15.jpg">
                      <div class="card-body">
                        <h5 class="card-title"><a href="<%= city_path(city.id) %>"><%=city.name%> <%=city.zip_code%></a></h5>
                        <a type="button" class="btn btn-primary btn-block" href="<%=city_path(city.id) %>">Voir le détail de la ville</a>
                      </div>
                    </div>
                    </div>
                    <% end %>
                </div>    
            </div>            

  </body>

</html> 